<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <pattern>%clr(%d{HH:mm:ss.SSS}){faint}|%clr(${level:-%5p})|%clr(${APPLICATION_NAME}){blue}|%clr(trace_id=%32X{trace_id:-}){yellow} %clr(span_id=%16X{span_id:-}){green} %clr(trace_flags=%X{trace_flags:-}){magenta}|%clr(%-40.40logger{39}){cyan}%clr(|){faint}%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="wisehero.springbootobservability" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>